body{
    position: relative;
    background-image: url("./asset/mainpage_background.JPG");
    font-family: 'Helvetica New';
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.2); /* 半透明背景色 */
    background-blend-mode: lighten; /* 讓圖片與顏色融合 */
    padding:20px;
}
h1{
    font-family:'Montserrat';
    text-align: center;
    font-size: 120px;
    margin:auto;
    margin-bottom: 40px;
    color:rgb(131, 8, 232);
    text-shadow: 2px 2px 3px rgb(174, 151, 220);
}
.webpage_link{
    display:flex;
    flex-direction: row;
    background-color: rgb(146, 120, 207);
    margin: auto;
}
.webpage_link h2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    font-size: 40px;
    color:rgb(62, 195, 236);
    text-shadow: 2px 2px 3px rgb(43, 21, 124);
    word-wrap: break-word;
    white-space: nowrap; 
    margin-left: 200px;
}
p{
    font-size: 100px;
    color:rgb(52, 47, 123);
    text-shadow: 2px 5px 4px rgb(39, 34, 104);
}